.component-signup {
  width: 100%;
  text-align: center;

  p {
    margin: 2px 4px;
    font-size: 120%;
    text-align: left;
  }

  input[type="text"] {
    width: 100%;
    padding: .8rem 1.2rem;
    border-radius: .5rem;
    border: solid 1px #ccc;
    margin: 1.2rem 0;
  }

  button {
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: .8rem 1.2rem;
    border-radius: .5rem;
    border: solid 1px #ccc;
    margin: 1.2rem 0;
  }

  img {
    margin: 0 auto;
    max-height: 80px;
  }

  .smaller {
    margin-top: 2rem;
    font-size: 100%;
  }
}