.ui-header {
  width: 100%;
  text-align: center;
  margin-bottom: 4.4rem;

  img {
    max-width: 75%;
  }
}

.ui-card {
  width: 100%;
  background-color: #fff;
}

.ui-game-card {
  width: 100%;
  text-align: center;
}